{% extends 'index.html' %} {% block body %}
<br />
<h3>使用説明</h3>
<ul>
  <li>精度を改善する余地はまだあるので、留意してご参考にしてください。</li>
  <li>識別の結果はレシートにある全文字と特定の言葉二部分があります。※1</li>
  <li>識別できるレシートの言語は日本語です。※2</li>
  <li>
    エリア調整について、以下のようにレシートを囲むのほうが識別率が高いです。
  </li>
  <img src="../static/images/sample.jpg" alt="サンプル" />

  <p>
    ※1
    取り出せる特定の言葉は「shop」「date」「time」「product」「price」「total」六種類がある。<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    識別できなかったり、誤認識したり、する場合もあります。ご注意ください。<br />
    ※2 英語はある程度識別できますが、お勧めしません。<br />
  </p>
</ul>

<h3>開発環境</h3>
<ul>
  <li>Python</li>
  <li>OpenCV</li>
  <li>Tesseract-OCR</li>
  <li>Spacy</li>
  <li>VSCode</li>
  <li>Flask</li>
</ul>

{% endblock %}
